[submodule "jokenpo"]
	path = jokenpo
	url = https://github.com/EdsonLucas/jokenpo.git
[submodule "hangman"]
	path = hangman
	url = https://github.com/EdsonLucas/hangman.git
[submodule "hash"]
	path = hash
	url = https://github.com/EdsonLucas/hash.git
